.brand {
	background: #AAD5FF;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 50%;
}

.brand-dark {
	background: #80A1C0;
}

.brand-text {
	color: #473335;
	font-size: large;
	font-family: Oswald;
	font-size: 32px;
	font-weight: bold;
}

.brand-text-alt {
	color: #E4FCFF;
	font-size: 24px;
	font-family: Oswald;
}

.header {
	background-color: #3B4252;
}

.logo {
	float: left;
}

.rotateimg180 {
	-webkit-transform:rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.flipimgy {
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
}

.nav-btn {
	color: #473335;
	font-size: 20px;
	font-family: Oswald;
}

.brand-btn {
	color: #473335;
	background: #AAD5FF;
	font-family: Oswald;
}

nav {
	height: 10%;
	padding-top: 5px;
}

body {
	background-color: #3b4251;
}

input[type=text] {
	color: #473335;
	background-color: #AAD5FF;
	font-family: Oswald;
}

td {
	width: 10%;
	text-align:center;
}

.centertable {
	margin-left: auto;
	margin-right: auto;
	border-collapse: separate;
}

a {
	color: black;
	text-decoration: none;
}

.button {
	background-color: #7fa1bf;
	border: solid;
	border-width: thick;
	border-color: #7fa1bf;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	/* margin: 4px 2px; */
	cursor: pointer;
}

.centertable {
	margin-left: auto;
	margin-right: auto;
	border-collapse: separate;
}

/* ! BURADA HATA */
.center1 {
	margin: auto;
	width: 75%;
	border: 3px solid #62768e;
	padding: 10px;
	background-color: #a9d4fe;
	text-align: center;
}

body {
	background-color: #3b4251;
}

td {
	width: 10%;
	text-align:center;
	/* border: 1px solid black; */
}

h1 {
	font-family: 'Oswald', sans-serif;
}

.logs{
	border: 3px solid #62768e;
	padding: 10px;
	background-color: #a9d4fe;
	text-align: center;
	margin:auto;
}

.text {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
}

.brand-anan {
	margin-top: 15px;
	padding: 10px;
	width: 50%;
	height: 40%;
	background-color:#7fa1bf;
	border-color: white;
}

.rating {
    float:left;
    width:300px;
}

.rating span { float:right; position:relative; }
.rating span input {
    position:relative;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}